a {
	color: #00F;
	text-decoration: none;
}

a:linked {
	color: #00F;
}

a:active {
	color: #00F;
}

a:hover {
	color: #F00;
	text-decoration: underline;
}

a:visited {
	color: #00F;
}

body,font,form {
	font-size: 9pt;
	font-family: Arial;
}

body {
	background-color: #336;
	margin: 0;
}

li {
	margin-left: 30px;
}

h1 {
	font-size: 14pt;
	color: #336;
	border-bottom: 1px solid #FB0;
	text-align: center;
	background-color: #EEE;
	padding: 10px;
	margin: 0px;
}

i {
	color: #AAA;
}

#arena {
	margin: 0 auto;
	width: 600px;
	height: 100%;
	background-color: #FFF;
}

#sky {
	text-align: right;
	border-bottom: 1px dotted #FB0;
	padding: 5px;
}

#menu {
	padding: 10px;
	background-color: #FC0;
}

#footer {
	border-top: 1px dotted #CCC;
	height: 50px;
	padding: 5px;
	margin-top: 20px;
	color: #CCC;
	text-align: right;
	font-style: italic;
}

#photo{
	width:360px;
	padding:10px;
	margin:10px auto;
	border:1px dashed #CCC;
}

#photo h2{
	font-size:9pt;
	padding:3px;
	margin:3px;
	border-bottom:1px solid #99A;
	background-color:#EEF;
}

#photoWrapper{
	padding:3px;
	text-align:center;
	background-color:#000;
}

.detail{
	margin:10px auto;
	width:200px;
}
