<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Nutz demo:: hello Mvc</display-name>

	<!--
		将 Nutz.Mvc 框架挂接在任何 JSP/Servlet 容器中的办法之一就是显示的声明它。 它提供了一个 HttpServlet
		(org.nutz.mvc.NutzServlet) 的实现，你需要为它 声明一个参数，这个参数指出一个类名，这个类就是你的应用的唯一配置。

		这个类就是一个普通的 POJO，上面声明了一些特殊的注解。详细情况，请打开 nutz.demo.mvc.HelloModules
		的源文件，里面有详细的注释。
	-->
	<servlet>
		<servlet-name>nutz</servlet-name>
		<servlet-class>org.nutz.mvc.NutzServlet</servlet-class>
		<init-param>
			<param-name>modules</param-name>
			<param-value>nutz.demo.mvc.MainModule</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>nutz</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>